body{
    background-color: rgb(153, 39, 39);
}

p {
    color: black;
}

h1 {
    font-style: oblique;
}

.abrobinha{
    color: rgb(255, 255, 255);
    font-size: medium;
}
.abrobinha {
width: 70%;
}
